body {
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
}

#savingDiv {
    margin-bottom: 40px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.button,
input {
    border-radius: 12px;
    background-color: #ffc107;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nuclearOption {
    margin-top: 40%;
}

#killButton {
    border-radius: 12px;
    border: 1px solid black;
    color: white;
    background-color: red;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* The Modal (background) */

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    background-color: rgb(249, 249, 189);
    padding: 50px;
    border: 4px solid #888;
    width: 600px;
    text-align: center;
    align-items: center;
    font-size: 1vw;
}

#houseKeepingContent {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    background-color: rgb(249, 249, 189);
    padding: 50px;
    border: 4px solid #888;
    font-size: 1vw;
}

#databaseList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#databaseList input[type="checkbox"] {
    margin-right: 10px;
}

select {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

#uploadDiv {
    display: none;
    font-size: 1vw;
    position: relative;
    z-index: 2;
}

#dialogMessage {
    font-size: 1.2vw;
    color: red;
    font-weight: bold;
}

#dialogboxfoot {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1vw;
}

#loadSpreadsheetButton {
    margin-left: 100px;
    padding: 0px 20px;
}

#loadFilesButton {
    padding: 0px 20px;
}

#ssUploadButton {
    font-size: 1.2vw;
}

.new {
    display: inline-block;
    color: red;
    position: absolute;
    font-weight: bold;
    margin-left: 10px;
}