        body {
            font-family: 'Poppins', sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* Add this line */
        }
        
        #logoImage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            margin-top: 50px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .parent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            animation-name: fadeIn;
            animation-duration: 3s;
            text-align: center;
        }
        
        .button-container {
            display: flex;
            /* Adjust as needed */
            align-items: center;
            gap: 200px;
        }
        
        .mainButton {
            background-color: #ffc107;
            border: 2px solid black;
            border-radius: 12px;
            height: 150px;
            width: 150px;
            font-size: 18pt;
            font-size: 1.5vw;
            color: black;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        button {
            background-color: #ffc107;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 12pt;
            font-size: 1vw;
            color: black;
            padding: 5px;
            margin-left: 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .smallButton {
            background-color: #ffc107;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 1em;
            font-size: 1vw;
            color: black;
            padding: 5px;
            width: 80px;
            margin-left: 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #currentSemester {
            display: flex;
            flex-direction: row;
            font-size: 1.5vw;
            font-weight: bold;
            color: tomato;
        }
        
        #selectDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        
        select {
            font-size: 1.5em;
            padding-left: 10px;
            padding-right: 10px;
            background-color: rgb(246, 236, 181);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #selectButton {
            font-size: 1.5em;
        }
        
        footer {
            position: fixed;
            left: 0;
            bottom: 0px;
            width: 100%;
            color: BLACK;
            text-align: right;
        }
        
        footer p {
            margin: 20px;
            font-size: 10pt;
        }
        
        #loadingModal {
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 2;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        
        #modalMessage {
            background-color: #f7f0b0;
            width: 30%;
            font-size: 2vw;
            text-align: center;
            margin: auto;
            /* Centers the modal vertically and horizontally */
            padding: 20px;
            border: 4px solid black;
            display: inline-block;
            /* Adjusts the width of the modal content box */
            /* Center the modal-content vertically */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        /* The Close Button */
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
        .rectangle {
            position: absolute;
            background-color: white;
            border-radius: 20px;
            z-index: -1;
        }
        
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
            font-family: 'Poppins', sans-serif;
            visibility: hidden;
            width: 400px;
            font-size: 0.9vw;
            background-color: #f7f0b0;
            text-align: left;
            border: black solid 3px;
            border-radius: 6px;
            padding: 5px 30px 5px 20px;
            /* top right bottom left */
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -60px;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 20%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }